

/*===============================
/ja_purity/templates/system/css/system.css
================================================================================*/
@import url(/ja_purity/media/system/css/system.css); .system-unpublished,tr.system-unpublished{background:#e8edf1;border-top:4px solid #c4d3df;border-bottom:4px solid #c4d3df}span.highlight{background-color:#FFFFCC;font-weight:bold;padding:1px 4px}.img-fulltext-float-right{float:right;margin-left:10px;margin-bottom:10px}.img-fulltext-float-left{float:left;margin-right:10px;margin-bottom:10px}.img-fulltext-float-none{}.img-intro-float-right{float:right;margin-left:5px;margin-bottom:5px}.img-intro-float-left{float:left;margin-right:5px;margin-bottom:5px}.img-intro-float-none{}